/* latin-ext */
@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    src: local('Comfortaa Regular'), local('Comfortaa-Regular'), url(https://fonts.gstatic.com/s/comfortaa/v19/1Ptsg8LJRfWJmhDAuUs4Q4FqPfE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    src: local('Comfortaa Regular'), local('Comfortaa-Regular'), url(https://fonts.gstatic.com/s/comfortaa/v19/1Ptsg8LJRfWJmhDAuUs4TYFq.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
body {
    margin: 0;
    font-family: 'Comfortaa'
}
header {
    background-color: green;
    padding: 0px 20px;
}
.logo {
    font-family: 'Raleway';
    font-size: 35px;
    padding: 10px;
    text-decoration: none;
    max-width: 1200px;
    margin: 10px auto;
}
.home {
    text-decoration: none;
    color: white;
}
.navigation {
    color: white;
    list-style: none;
    display: block;
    padding: 10px;
    transition: 0.5s;
    max-width: 1200px;
    margin: 10px auto;
}
.navigation li {
    display: inline;
    padding-right: 30px;
    font-size: 25px;
}
.navigation li a {
    text-decoration: none;
    color: white;
}
.navigation li a:hover, .navigation li a .current {
    color: black;
}
.current {
    color:black !important;
}
h1 {
    padding: 10px;
    max-width: 1200px;
    margin: 10px auto;
}
main {
    margin: 10px auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
}
.leftcol {
    grid-column: 1 span 1;
}
.rightcol {
    grid-column: 2 span 1;
}
footer {
    background-color: green;
    color:white;
    padding: 20px;
}
.footerlink {
    text-decoration: none;
    color: white;
}
table, tr, td, th {
    border: 5px solid green;
    border-collapse: collapse;
    padding: 10px;
    margin: auto;
}
.descimage {
    max-width: 100%;
    margin: auto;
    border-radius: 2px;
}
@media screen and (max-width: 800px) {
    
header {
    padding: 0px;
}
.hidemob {
    display: none;
}
.showmob {
    display: block;
}
    .logo {
        margin: auto;
        text-align: center;
    }
    .hamburger {
        display: block;
        float: left;
        height: 35px;
        margin: 5px;
    }
    .bar {
        width: 40px;
        background-color: white;
        height: 6px;
        border-radius: 2px;
        display: block;
        margin: 10px;
    }
    .navigation li {
        padding-bottom: 20px;
        display: inherit;
    }
    main {
        margin: 10px;
        grid-template-columns: 1fr;
        grid-gap: none;
    }
    .leftcol {
        grid-column: 1 / span 1;
    }
    .rightcol {
        grid-column: 1 / span 1;    
    }
    .map {
        height: 300px;
        margin: auto;
    }
    table {
        margin: 10% auto;
    }
    }